.leaderboard{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.mainTitle-container{
  position: relative;
  font-size: larger;
  padding: 16px;
  font-weight: 900;
}
