.Dashboard {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	max-width: 750px;
	margin: 0 auto;
}

.Dashboard-title {
	position: relative;
	font-size: large;
	padding: 16px;
	font-weight: 900;
	align-self: center;
}

.Dashboard-navBar {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}

.Dashboard-filter {
	font-size: 14px;
	max-width: 600px;
	min-width: 300px;
	margin-bottom: 16px;
	align-self: center;
}
