.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.input-container {
  width: 300px;
  height: 50px;
  font-size: x-large;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.34);
}

.input-button{
  width: 180px;
  padding: 4px 0;
  border-radius: 3px;
  padding: 30px;
  margin-top: 10px;
  border-radius: 15px;
  font-size: x-large;
  color: white ;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

