.Status {
	display: inline-flex;
	flex-direction: row-reverse;
	padding-left: 20px;
}

.Status-avatar {
	margin-left: -10px;
	position: relative;
	border: 1px solid #ffffff;
}

.Status-avatar--approved {
	border: 2px solid #28a744;
}

.Status-avatar--commented {
	border: 2px solid lightgrey;
}

.Status-avatar--changes {
	border: 2px solid #cb2431;
}

.Status-avatar--pending {
	border: 2px solid #fffbdd;
}

.Status-avatar--dismissed {
	border: 2px solid #d64292;
}
