.pr-container {
  display:flex;
  padding: 5px;
  border-radius: 0.5em;
  box-shadow: 1.25px 1px 1px 1px #a0a0a0;
  overflow: hidden;
  min-width: 1000px;
  margin: 15px;
  position: relative;
}

.pin-container {
  display: flex;
  flex:0.25;
  max-height: 50px;
  margin: 0;
  align-content: center;
}

.no-background{
  background-color: white;
}
/* check why this is not displaying white */

.item-body-container{
  display: flex;
  flex-direction: column;
  flex:6;
}

.title-container {
  font-weight: 700;
  padding: 8px;
  font-size: larger;
  background-color: lightgrey;
}

.detail-container {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: large;
}

.information-container {
  flex: 0 32%;
  height: 100px;
  margin-bottom: 2%;
}

.detail-title-container {
  padding: 8px;
  font-weight: 700;
}

.light {
  font-weight: 200;
}

.gitInfo-container {
  background-color:white;
  display: flex;
  padding: 8px;
  display: flex;
  align-items: center;
}

.actions-container {
  display: flex;
  padding: 4px;
  position: absolute;
  align-self: flex-end;
  right: -8%;
  top: 90%;
  transform: translate(-50%, -50%);
}

.button{
  min-width: 15px;
  min-height: 15px;
  margin: 4px;
  border-radius: 8px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.icon{
  min-width: 25px;
  min-height: 25px;
  margin: 3px;
}

a {
  text-decoration: none ;
  color: black;
}
a:hover
{
 color:blue;
 text-decoration:none;
 cursor:pointer;
}

.button:hover{
background-color: cornflowerblue;
cursor:pointer;
}