.Badge {
	padding: 4px 8px;
	display: inline-block;
	border-radius: 4px;
	font-weight: 600;
	color: white;
	font-size: 8px;
	text-transform: uppercase;
}

.Badge--open {
	background-color: #28a744;
}

.Badge--merged {
	background-color: #6f42c1;
}

.Badge--closed {
	background-color: #cb2431;
}

.Badge--draft {
	background-color: gray;
	text-align: justify;
	margin-top: 2px;
}

.emoji {
	opacity: 1;
}
