.PrDetails {
	height: 36px;
	background-color: white;
	margin-bottom: 8px;
	border-radius: 8px;
	padding: 4px 8px 8px 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.PrDetails-date {
	display: inline-block;
	font-size: 8px;
	margin-bottom: -36px;
}
