.Checkbox {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.Checkbox-input {
	display: flex;
	padding: 12px 8px;
	justify-content: center;
	align-items: center;
}

.Checkbox-text {
	font-size: 12px;
	margin-left: 8px;
}
