.PrPreview {
	background-color: white;
	margin-bottom: 8px;
	border-radius: 8px;
	padding: 0 8px;
}

.PrPreview-header {
	display: flex;
	align-items: center;
	position: relative;
}

.PrPreview-header-avatar {
	display: flex;
	flex: 0 0 0;
}

.PrPreview-header-title {
	display: flex;
	flex-direction: column;
	padding: 8px;
	flex: 1 1 0;
}

.PrPreview-header-repo {
	font-size: 12px;
	margin-bottom: 4px;
}

.PrPreview-header-name {
	font-size: 14px;
	font-weight: bold;
}

.PrPreview-header-details {
	display: flex;
	align-self: start;
	margin-top: 8px;
	flex-direction: column;
	padding: 4px;
	align-content: space-between;
}

.PrPreview-header-actions {
	position: absolute;
	right: 0;
	bottom: -8px;
}

.PrPreview-header-button {
	display: none;
	cursor: pointer;
}

.PrPreview:hover .PrPreview-header-button {
	display: inline-block;
}

.PrPreview-header-button--isFavorite {
	display: inline-block;
}
